<style>
	.sk_logo{
	display:inline;
	margin-right:5px;
	}
</style>

<script>
	function popup(pageURL){
		/*
		$.post(url,data,function(response,status){
			if(status == 'success'){
				if(response == 'not_expired'){
					var w = 800;
					var h = 500;
					var title ='socialloginwindow';
					var left = (screen.width/2)-(w/2);
					var top = (screen.height/2)-(h/2);
					var newwindow =  window.open (site_url+'m/social_inviter/invite/not_expired, title, 'toolbar=no,location=no,directories=no,status=no,menubar=no, scrollbars=yes,resizable=yes,copyhistory=no,width='+w+',height='+h+',top='+top+',left='+left);
					if (window.focus) {newwindow.focus();}
				}else{
					var w = 800;
					var h = 500;
					var title ='socialloginwindow';
					var left = (screen.width/2)-(w/2);
					var top = (screen.height/2)-(h/2);
					var newwindow =  window.open (pageURL, title, 'toolbar=no,location=no,directories=no,status=no,menubar=no, scrollbars=yes,resizable=yes,copyhistory=no,width='+w+',height='+h+',top='+top+',left='+left);
					if (window.focus) {newwindow.focus();}
				}
			}
		});
		*/
		var w = 800;
		var h = 500;
		var title ='socialloginwindow';
		var left = (screen.width/2)-(w/2);
		var top = (screen.height/2)-(h/2);
		var newwindow =  window.open (pageURL, title, 'toolbar=no,location=no,directories=no,status=no,menubar=no, scrollbars=yes,resizable=yes,copyhistory=no,width='+w+',height='+h+',top='+top+',left='+left);
		if (window.focus) {newwindow.focus();}
	};
</script>

<div class="bx-def-bc-padding">
	<bx_repeat:networks>
		<div class="sk_logo">
			<a href="javascript:void(popup('__login_url__'))"><img src="__img_src__"/></a>
		</div>
	</bx_repeat:networks>
</div>