<style>
	.sk_list,.sk_tabs{
		margin:0;
		list-style:none;
		padding-left:0px;
	}
	.sk_tab{
		float:left;
		background-color:#666;
		padding:5px;
		margin:0;
	}
	.sk_tab a{
		color:white;
	}
	.sk_tab+.sk_tab{
		margin-left:5px;
	}
	.sk_header{
		background-color:#ddf0f8;
		border:1px solid #ccc;
		padding:5px 0;
	}
	.sk_select{
		margin-left:6px;
		float:left;
		width:150px;
	}
	.sk_filter{
		float:right;
		width:210px;
	}
	.sk_list{
		border:1px solid #ccc;
		border-top:0px;	
		max-height:239px;
		overflow-y:scroll;
	}
	#sk_tab2 .sk_list{
		border-top:1px solid #ccc;
	}
	.sk_friend{
		padding:5px;
		margin:0;
	}
	.sk_friend+.sk_friend{
		border-top:1px solid #ccc;
	}
	.sk_right_aligned,.sk_add{
		float:right;
	}
	.sk_info{
		margin-top:5px;
		padding-left:5px;
	}
	.sk_info i{
		color:rgb(240, 102, 17);
	}
	.selected{
		font-weight:bold;
	}
	#e_message{
		padding:5px;
		border:1px solid #ccc;
	}
</style>
<script>
	$(document).ready(function(){
		$('.sk_tabs a').click(function(){
			switch_tabs($(this));
		});
		switch_tabs($('#default_tab'));
		filter();
		check_all();
		count_checked();
	});
	
	function switch_tabs(obj){
		$('.sk_tab_content').hide();
		$('.sk_tabs a').removeClass('selected');
		var id = obj.attr('rel');
		$('#'+id).show();
		obj.addClass('selected');
	}
	
	function check_all(){
		$('#sk_select_all').click(function(){
			if(this.checked){
				$('#sk_tab1 :checkbox').each(function(){
					this.checked = true;
				});
			}else{
				$('#sk_tab1 :checkbox').each(function(){
					this.checked = false;
				});
			}
		});
	}
	
	function get_checked_value(){
		var checked_value = []; 
		$('#sk_tab1 .sk_list :checkbox:checked').each(function(){
			checked_value.push($(this).val());
		});
		return checked_value;
	}
	function get_username(){
		var username = [];
		if('__network__' == 'google' || '__network__' == 'live'){
			$('#sk_tab1 .sk_list :checkbox:checked').each(function(){
				username.push($(this).parent().find('.sk_right_aligned').text());
			});
		}else{
			$('#sk_tab1 .sk_list :checkbox:checked').each(function(){
				username.push($(this).parent().find('.sk_label').text());
			});
		}
		return username;
	}
	function count_checked(){
		$('#sk_tab1 :checkbox').click(function(){
		var leng = get_checked_value().length;
		if(leng>0)
			$('.sk_info label').html('You have selected '+leng+' friend(s) to send invitation');
		else
			$('.sk_info label').html('Please choose at least one friend');
		});
	}
	function sendJson(){
		$.post(
			site_url+'m/social_inviter/test',
			{
				json: JSON.stringify(get_username()),
			},
			function(response,status){
				if(status == 'success')
					console.log(response);
				else
					alert('idiot');
			},'text');
	}
	function show_message_form(){
		if(get_checked_value().length > 0)
			showSocialInviterMessageForm(get_checked_value(),get_username());
		else
			$('.sk_info label').css('color','red');
	}
	function showSocialInviterMessageForm(friend_id,name){
	
		if ($('#sk_friend_block').length){
			$('#sk_friend_block').remove();
		}
		
		var oPopupOptions = {fog: {color: '#fff', opacity: .7}};
		
		if ($('#sk_message_form').length){
			$('#sk_message_form').remove();
		}
		$('<div id="sk_message_form" style="visibility: none;"></div>').prependTo('body').load(
			site_url + 'm/social_inviter/ajax_mode/message_form',
			{
				ajaxmode: 'true',
				list_id: JSON.stringify(friend_id),
				username: JSON.stringify(name),
			},
			function() {
				$(this).dolPopup(oPopupOptions);
			}
		);
	}
	function filter(){
		$('#sk_filter').keyup(function(){
			var data = this.value.split(' ');
			var list = $('#sk_tab1 .sk_list').find('.sk_friend');
			if(this.value === ''){
				list.show();
				return;
			}
			
			list.hide();
			
			list.filter(function(){
				var row = $(this);
				for(var i=0; i<data.length;i++){
					if(row.find('.sk_label').is(':contains("'+data[i]+'")'))
						return true;
				}
				return false;
			}).show();
			
		}).focus(function(){
			this.value = "";
			$(this).css({
				"color": "black"
			});
			$(this).unbind('focus');
		});
	}
	function add_friend(id_friend) {
		$('#loading_img_' + id_friend).show();
		var oPopupOptions = {
			fog : {
				color : '#fff',
				opacity : .7
			}
		};
		if ($('#message_popup').length) {$('#message_popup').remove();}
		$('<div id="message_popup" style="visibility: none;"></div>').prependTo('body').load(
			site_url + 'list_pop.php?action=friend', 
			{
				ID : id_friend
			}, 
			function() {
				$('#loading_img_' + id_friend).hide();
				$('#add_friend_btn_' + id_friend).hide();
				if ($('#sk_friend_block').length){
					$('#sk_friend_block').remove();
				}
				$(this).dolPopup(oPopupOptions);
			}
		);
	};
</script>

	<ul class="sk_tabs">
		<li class="sk_tab"><a id="default_tab"  href="javascript:void(0)" rel="sk_tab1">Friend List</a></li>
		<li class="sk_tab"><a  href="javascript:void(0)" rel="sk_tab2">Existed Member</a></li>
		<div class="clear_both"></div>
	</ul>
	
	<div class="sk_tab_content" id="sk_tab1">
		<form id="sk_friend_list" method="post" action="">
		<div class="sk_header">
			
			<div class="sk_select">
				<input type="checkbox" id="sk_select_all"/><label>Select all</label>
			</div>
			
			<div class="sk_filter">
				<label>Filter</label>
				<input type="text" name="filter" id="sk_filter"/>
			</div>
			
			<div class="clear_both"></div>
			
		</div>
		<ul class="sk_list">
			<bx_repeat:friends>
				<li class="sk_friend">
					<input type="checkbox" value="__receiver__">
					<label class="sk_label">__username__</label>
					<div class="sk_right_aligned">__email__</div>
					<div class="clear_both"></div>
				</li>
			</bx_repeat:friends>
		</ul>

			
			<div class="sk_info">
				<label style="line-height:38px;">Please choose at least one friend</label>
				<input id="fl_button" type="button" class="bx-btn sk_right_aligned" value="Next" onclick="show_message_form()">
				<div class="clear_both"></div>
			</div>
			<div class="sk_info">
				<i>*You can send <strong>__total_invitations__</strong> invitations</i><br />
				<i>*Total friends you sent the invitations is <strong>__total_friends__</strong></i>
			</div>
		</form>
	</div>
	
	<div class="sk_tab_content" id="sk_tab2">
		<div id="e_message" style="__display_e_message__">
			__e_message__
		</div>
		<ul class="sk_list" style="__display_e_friend__">
			<bx_repeat:e_friends>
				<li class="sk_friend">
					<label class="sk_label" style="line-height:21px;">__e_username__ - __e_email__</label>
					<div id="add_friend_btn___e_id__" class="sk_right_aligned" style="__e_display_btn__"><input type="button" value="Add friend" onclick="add_friend('__e_id__')"/></div>
					<div id="loading_img___e_id__" class="sk_right_aligned"><img src="__loading_img__" style="__display_loading_img__;"/></div>
					<div class="clear_both"></div>
				</li>
			</bx_repeat:e_friends>
		</ul>
	</div>
	