<style>
	.sk_list_u{
		margin:0;
		list-style:none;
		padding-left:0px;
		border:1px solid #ccc;
		border-top:0px;
		max-height:149px;
		overflow-y:scroll;
	}
	.sk_friend_u{
		padding:5px;
		margin:0;
	}
	.sk_header{
		background-color:#ddf0f8;
		border:1px solid #ccc;
		padding:5px 0 5px 5px;
		font-weight:bold;
	}
	.sk_friend_u+.sk_friend_u{
		border-top:1px solid #ccc;
	}
	.sk_margin_top,.sk_input{
		margin-top:5px;
	}
	.sk_input{
		padding:0 0 5px 5px;
	}
	#sk_message_form label{
		display:block;
		width:80px;
		float:left;
	}
</style>
<script>
	function send_message(){
		debugger;
		if ($('#sk_message_form').length)
			$('#sk_message_form').hide();
		var obj = check_input_value();
		if(obj.message == 'valid' && obj.title == 'valid'){
			var e_title = $('sk_message_form input:text');
			var content = $.trim($('#sk_message_form textarea').val());
			var title = $.trim(e_title.val());
			var url = site_url+'m/social_inviter/ajax_mode/send_invitation';
			var data = {
				ajaxmode: 'true',
				list: '__friend_id__',
				message: content
			};
			
			if(e_title.is(':visible'))
				data.subject = title;
				
			$.post(url,data,function(response,status){
				if(status == 'success'){
					console.log(response);
					/*showSocialInviterMes(response);
					setTimeout(function(){
						var oPopupOptions = {fog: {color: '#fff', opacity: .7}};
						$('#sk_inviter_div_error').dolPopupHide(oPopupOptions);
					},3000);*/
				}
			});
		}
		else{
			if(obj.message == 'error' && obj.title == 'error')
				alert('Title and content are empty');
			else if(obj.message == 'error')
				alert('Content is empty');
			else
				alert('Title is empty');
		}
	}
	function showSocialInviterMes(mess){

		var oPopupOptions = {fog: {color: '#fff', opacity: .7}};
		
		if ($('#sk_inviter_div_error').length){
			$('#sk_inviter_div_error').remove();
		}
		$('<div id="sk_inviter_div_error" style="visibility: none;"></div>').prependTo('body').load(
			site_url + 'm/social_inviter/ajax_mode/popup_message',
			{
				ajaxmode: 'true',
				message: mess,
			},
			function() {
				$(this).dolPopup(oPopupOptions);
			}
		);
	}
	function check_input_value(){
		var check_obj = { message : 'valid' , title : 'valid' };
		var e_title = $('sk_message_form input:text');
		var content = $.trim($('#sk_message_form textarea').val());
		var title = $.trim(e_title.val());
		if(content.length == 0)
			check_obj.message = 'error';
		if(e_title.is(':visible') && title.length == 0)
			check_obj.title = 'error';
		return check_obj;
	}
</script>
<div class="sk_header">
	Selected friends:
</div>
<ul class="sk_list_u">
	<bx_repeat:friends>
	<li class="sk_friend_u">
		__username__
	</li>
	</bx_repeat:friends>
</ul>
<div class="sk_margin_top">
	<form id="sk_message_form" method="post" action="">
		<div class="sk_header">Message:</div>
		<div class="sk_input" style="__display_title_div__">
			<label>Title:</label><input style="padding:3px;width:78%;border:1px #ccc solid;border-radius:2px;" type="text" class="bx-def-font" value="__title__"/>
			<div class="clear_both"></div>
		</div>
		<div class="sk_input">
			<label>Content:</label><textarea style="border-color:#ccc;padding:3px;width:78%;height:130px;resize:none;border-radius:2px;" class="bx-def-font">__content__</textarea>
			<div class="clear_both"></div>
		</div>
		<div class="sk_input">
			<input class="bx-btn" style="float:right" type="button" value="Send Invitation" onclick="send_message()">
			<div class="clear_both"></div>
		</div>
		<div class="clear_both"></div>
	</form>
</div>